<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: includes"><title></title></head>
<body>
    <nav th:insert="fragments/navigationBreadCrumb :: nav(~{ :: .breadcrumb})">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" th:text="#{jenkins}"></a></li>
            <li class="breadcrumb-item"><a th:href="@{/job/{jobName}/build(jobName=${jobName})}" th:text="${jobName}"></a></li>
        </ol>
    </nav>


    <div class="container-fluid">
        <h1>Builds</h1>
        <div class="row">
            <div class="col-5">
                <h2>Specific builds</h2>
                <div th:object="${buildViewTable}" class="table-responsive">
                    <table class="table table-hover table-striped data-table"
                           th:data-columns-definition="${buildViewTable.getTableModel('builds').columnsDefinition}" th:id="${buildViewTable.getTableModel('builds').id}">
                        <colgroup>
                            <col th:each="column : ${buildViewTable.getTableModel('builds').columns}" th:classappend="|col-width-${column.width}|"/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th th:each="column : ${buildViewTable.getTableModel('builds').columns}" th:classappend="${column.headerClass}" th:text="${column.headerLabel}"></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="col-7">
                <h2>History of the Builds</h2>
                <div class="row">
                    <div class="col-6">
                        <div class="text-center">Aggregated Analysis Results</div>
                        <div id="aggregated-analysis-results-history-chart" class="graph-cursor-pointer"
                             style="width: 100%; min-height: 200px;"></div>
                    </div>
                    <div class="col-6">
                        <div class="text-center">New vs. Fixed History</div>
                        <div id="new-versus-fixed-history-chart" class="graph-cursor-pointer"
                             style="width: 100%; min-height: 200px;"></div>
                    </div>
                    <!--<div th:each="tool : ${usedTools}" class="col-6">
                        <div class="text-center" th:text="${tool} + ' Trend'"></div>
                        <div th:id="${tool} + '-history-chart'" class="graph-cursor-pointer"
                             style="width: 100%; min-height: 200px;"></div>
                    </div>
                    <div th:each="tool : ${usedTools}" class="col-6">
                        <div class="text-center" th:text="${tool} + ' New vs. Fixed'"></div>
                        <div th:id="${tool} + '-new-versus-fixed-history-chart'" class="graph-cursor-pointer"
                             style="width: 100%; min-height: 200px;"></div>
                    </div>-->
                    <th:block th:each="tool : ${usedTools}">
                        <div class="col-6">
                            <div class="text-center " th:text="${tool} + ' Trend'"></div>
                            <div th:id="${tool} + '-history-chart'" class="graph-cursor-pointer"
                                 style="width: 100%; min-height: 200px;"></div>
                        </div>
                        <div class="col-6">
                            <div class="text-center" th:text="${tool} + ' New vs. Fixed'"></div>
                            <div th:id="${tool} + '-new-versus-fixed-history-chart'" class="graph-cursor-pointer"
                                 style="width: 100%; min-height: 200px;"></div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/table.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const usedTools = /*[[${usedTools}]]*/ 'default';
        const urlParts = window.location.href.split('/');
        const jobName = urlParts[urlParts.length - 2];
        usedTools.forEach(tool => {
            $.get("/ajax/"+jobName+"/tool/"+tool,
                function (builds) {
                    const id = tool + "-history-chart";
                    renderTrendChart(id, builds, "");
                });
            $.get("/ajax/"+jobName+"/newVersusFixedTrendChart/"+tool,
                function (builds) {
                    const id = tool + "-new-versus-fixed-history-chart";
                    renderTrendChart(id, builds, "");
                });
        });
        /*]]>*/
    </script>
    <script src="/js/simple-trend-chart.js"></script>
    <script src="/js/aggregated-analysis-results.js"></script>
    <script src="/js/new-versus-fixed-aggregated.js"></script>
</body>
</html>
