<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: includes"><title>Home</title></head>
<body>

    <!-- <div th:replace="fragments/navigation :: navbar"></div> -->
    <nav th:insert="fragments/navigationBreadCrumb :: nav(~{ :: .breadcrumb})">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Jenkins</a></li>
        </ol>
    </nav>

    <div class="container-fluid">
        <h1>Projects</h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Job Name</th>
                <th>Status</th>
                <th>Url</th>
            </tr>
            </thead>
            <tbody th:each="job, jobStat: ${jobs}">
            <tr>
                <td>
                    <a th:href="@{/job/{jobName}/build(jobName=${job.name})}">
                        <span th:text="${job.name}"></span>
                    </a>
                </td>
                <td th:text="${job.lastBuildStatus}"></td>
                <td>
                    <a th:href="${job.url}" th:target="_blank">
                        <span th:text="${job.url}"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <script src="js/pie-chart.js"></script>
    <script src="js/trend-chart.js"></script>
    <script src="js/issues-detail.js"></script>
    <script src="js/simple-trend-chart.js"></script>
    <script src="js/source-detail.js"></script>
</body>
</html>