<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: includes"><title></title></head>
<body>

    <!-- <div th:replace="fragments/navigation :: navbar"></div> -->
    <nav th:insert="fragments/navigationBreadCrumb :: nav(~{ :: .breadcrumb})">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" th:text="#{jenkins}"></a></li>
            <li class="breadcrumb-item"><a th:href="@{/job/{jobName}/build(jobName=${jobName})}" th:text="${jobName}"></a></li>
            <li class="breadcrumb-item"><a th:href="@{/job/{jobName}/build/{buildNumber}(jobName=${jobName},buildNumber=${buildNumber})}" th:text="'#'+${buildNumber}"></a></li>
            <li class="breadcrumb-item"><a th:href="@{/job/{jobName}/build/{buildNumber}/{toolName}/{issueType}(jobName=${jobName},buildNumber=${buildNumber},toolName=${toolId},issueType=${issueType})}" th:text="${toolIdWithIssueType}"></a></li>
        </ol>
    </nav>

    <div class="container-fluid">
        <h1>Issues</h1>

        <!--/*@thymesVar id="issueViewTable" type="edu.hm.hafner.warningsngui.ui.table.issue.IssueViewTable"*/-->
        <div th:object="${issueViewTable}" class="table-responsive">
            <table class="table table-hover table-striped data-table"
                   th:data-columns-definition="${issueViewTable.getTableModel('issues').columnsDefinition}" th:id="${issueViewTable.getTableModel('issues').id}">
                <colgroup>
                    <col th:each="column : ${issueViewTable.getTableModel('issues').columns}" th:classappend="|col-width-${column.width}|"/>
                </colgroup>
                <thead>
                <tr>
                    <th th:each="column : ${issueViewTable.getTableModel('issues').columns}" th:classappend="${column.headerClass}" th:text="${column.headerLabel}"></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

    <script src="/js/table.js"></script>
</body>
</html>
