<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: includes"><title>Home</title></head>
<body>
<h1>Home</h1>

<!--/*@thymesVar id="m2" type="io.jenkins.plugins.datatables.api.TableModel"*/-->
<div th:object="${m2}" class="table-responsive">


    <table class="table table-hover table-striped data-table"
           th:data-columns-definition="${m2.columnsDefinition}" th:id="${m2.id}"
           >
        <colgroup>
            <!--
            <j:forEach var="c" items="${model.columns}">
                <col class="col-width-${c.width}"/>
            </j:forEach> -->
            <div th:each="c : ${m2.columns}">
                <col th:classappend="|col-width-${c.width}|"/>
            </div>
        </colgroup>
        <thead>
        <tr th:each="c : ${m2.columns}">
            <th th:classappend="${c.headerClass}" th:text="${c.headerLabel}"></th>
        </tr>
        </thead>
    </table>

</div>

<!-- <script>var tableDataProxy = <st:bind value="${it}"/></script> -->

<script th:inline="javascript">
    /*<![CDATA[*/

    var tableDataProxy = [{"data": "fileName"},{"data": "authorsSize"},{"data": "commitsSize"},{"data": "modifiedAt"},{"data": "addedAt"}];// /*[[${testTable}]]*/ 'default';
    console.log("tableDataProxy", tableDataProxy);

    /*]]>*/
</script>

<script src="js/luxon.min.js"></script>
<script src="js/table.js"></script>
</body>
</html>