<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: includes"><title>Home</title></head>
<body>
<h1>Home</h1>

<div class="card ${cardClass}">
    <div class="card-body">
        <h5 class="card-title">
            Title vom Card

            <!--/*@thymesVar id="m2" type="edu.hm.hafner.warningsngui.table.ViewTable"*/-->
            <div th:object="${m2}" class="table-responsive">


                <table class="table table-hover table-striped data-table"
                       th:data-columns-definition="${m2.getTableModel('').columnsDefinition}" th:id="${m2.getTableModel('').id}">
                    <colgroup>
                        <col th:each="c : ${m2.getTableModel('').columns}" th:classappend="|col-width-${c.width}|"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th th:each="c : ${m2.getTableModel('').columns}" th:classappend="${c.headerClass}" th:text="${c.headerLabel}"></th>
                    </tr>
                    </thead>
                </table>

            </div>

        </h5>
    </div>
</div>




<script th:inline="javascript">
    /*<![CDATA[*/

    //var tableDataProxy = [{"data": "fileName"},{"data": "authorsSize"},{"data": "commitsSize"},{"data": "modifiedAt"},{"data": "addedAt"}];// /*[[${testTable}]]*/ 'default';
    var tableDataProxy = /*[[${m2}]]*/ 'default';
    console.log("tableDataProxy", tableDataProxy);

    /*]]>*/
</script>


<script src="js/luxon.min.js"></script>
<script src="js/table.js"></script>
</body>
</html>